<section class="about ">
    <div class="container ">
        <div class="page-section ">
            <div class="text-center ">
                <h2 class="page-section__title ">ABOUT <br> HUE COVENANT TILES</h2>
                <p 
class="page-section__paragraph ">A tradition of excellence 
Since our founding, the hue’s covenant tiles has committed itself to inspiring and realizing home decoration ideas and creating beauty both indoors and outdoors.
Our associates travel literally across the globe 🌎, exploring the latest styles and innovation available in materials such as Porcelain,Ceramic,Marble and other natural stones. We offer a wide range of high quality products,exclusive designs,expert staff and amazing customer service
<br><br>
<strong style="display:block">Our Passion for people</strong>

We see our customers as partners, as such we believe in developing relationships that build trust while engaging your imaginations.
Your home is a big part of your life,and we take the idea seriously. So we inspire your creativity and build personal connections, we need to make you feel comfortable about transforming your living space into showplace you can be proud of. </p>
            </div>
            {{!-- <div class="row gutters-50 ">
                <div class="about--narrow ">
                    <div class="col-md-6 ">
                        <img class="img-responsive " src="img/about-pic.png " alt=" ">
                    </div>
                    <div class="col-md-6 about__extra-padding ">
                        <h3 class="about__content-title ">We Believe
                            <br>The Simple Design</h3>
                        <p class="about__content-paragraph " >Best Priced Porcelain and Ceramic Tiles Store. We offer huge range of Wall and Floor at very competitive prices and design consultations</p>
                    </div>
                </div>
            </div> --}}
        </div>
    </div>

</section>