<section class="about ">
    <div class="container ">
        <div class="page-section ">
            <div class="text-center ">
                <h2 class="page-section__title ">ABOUT HUE COVENANT TILES</h2>
                <p class="page-section__paragraph ">We desire to deliver wide range of Floor and wall tiles at a very competitive price. </p>
            </div>
            {{!-- <div class="row gutters-50 ">
                <div class="about--narrow ">
                    <div class="col-md-6 ">
                        <img class="img-responsive " src="img/about-pic.png " alt=" ">
                    </div>
                    <div class="col-md-6 about__extra-padding ">
                        <h3 class="about__content-title ">We Believe
                            <br>The Simple Design</h3>
                        <p class="about__content-paragraph " >Best Priced Porcelain and Ceramic Tiles Store. We offer huge range of Wall and Floor at very competitive prices and design consultations</p>
                    </div>
                </div>
            </div> --}}
        </div>
    </div>

</section>