<section class="service">
    <div class="container">
        <div class="page-section text-center">
            <h2 class="page-section__title">SERVICES WE OFFER</h2>
            <p class="page-section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. </p>
            <div class="row gutters-40">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <i class="material-icons">trending_up</i>
                        <h4 class="service__title">Floor Tiles</h4>
                        <p class="service__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <i class="material-icons">access_time</i>
                        <h4 class="service__title">Some Tiles</h4>
                        <p class="service__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <i class="material-icons">group</i>
                        <h4 class="service__title">Wall Tiles</h4>
                        <p class="service__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact contact--bg ">
    <div class="container ">
        <div class="page-section text-center ">
            <h2 class="page-section__title--white ">We Always Work To Make A Difference</h2>
            <p class="page-section__paragraph--white ">If you like our tiles and have a project, contact us now</p>
            <a class="button button--hover " href="/contact">CONTACT US</a>
        </div>
    </div>
</section>

<div class="container ">
    <div class="modal fade " id="myModal " tabindex="-1 " role="dialog " aria-labelledby="exampleModalLabel
                            " aria-hidden="true ">
        <div class="modal-dialog " role="document ">
            <div class="modal-content ">
                <div class="modal-body ">
                    <button type="button " class="close " data-dismiss="modal " aria-label="Close ">
                        <span aria-hidden="true ">&times;</span>
                    </button>

                    <div class="embed-responsive embed-responsive-16by9 ">
                        <iframe class="embed-responsive-item " src="https://www.youtube.com/embed/WP_vM301VZA?autoplay=0
                            " frameborder="0 " allowfullscreen=" "
                            id="video " allowscriptaccess="always "></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container ">
    <section class="slider ">
        <div class="page-section text-center ">
            <h2 class="page-section__title ">WHAT CLIENT SAY?</h2>
            <p class="page-section__paragraph ">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. </p>
            <div id="myCarousel " class="carousel slide " data-ride="carousel " data-interval="false ">

                <!-- Wrapper for slides -->
                <div class="carousel-inner ">
                    <div class="item active ">
                        <img class="img-responsive slider__image " src="img/slider-image.png " alt=" ">
                        <p class="slider__paragraph ">magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
                        <h3 class="slider__name ">Sheryl D</h3>
                        <p class="slider__title ">UI Design Agency</p>
                    </div>

                    <div class="item ">
                        <img class="img-responsive slider__image " src="img/slider-image.png " alt=" ">
                        <p class="slider__paragraph ">magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
                        <h3 class="slider__name ">Sheryl D</h3>
                        <p class="slider__title ">UI Design Agency</p>
                    </div>

                    <div class="item ">
                        <img class="img-responsive slider__image " src="img/slider-image.png " alt=" ">
                        <p class="slider__paragraph ">magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
                        <h3 class="slider__name ">Sheryl D</h3>
                        <p class="slider__title ">UI Design Agency</p>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control " href="#myCarousel " data-slide="prev ">
                    <i class="material-icons ">chevron_left</i>
                    <span class="sr-only ">Previous</span>
                </a>
                <a class="right carousel-control " href="#myCarousel " data-slide="next ">
                    <i class="material-icons ">chevron_right</i>
                    <span class="sr-only ">Next</span>
                </a>
            </div>
        </div>
    </section>
</div>
