<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{title}}</title>
  <meta name="keywords" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.">
  <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="flat-icon/flaticon.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/animate.css"> {{!--
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'> --}}

  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

</head>

<body>
  <div class="main-wrapper">
    <header class="header header--bg">
      <div class="container">
        <nav class="navbar">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              <img src="img/logo.jpg" height="60vh" width="60vh" alt="" class="img-circle">
            </a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav puller-right custom-nav">
              <li class="link__item">
                <a href="/">HOME</a>
              </li>
              <li class="link__item">
                <a href="/service">PRODUCTS</a>
              </li>
              <li class="link__item">
                <a href="/about">ABOUT</a>
              </li>
              <li class="link__item">
                <a href="/contact">CONTACT US</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="header__content text-center">
          <h1 class="header__content__title" id='initial'>HUE COVENANT TILES</h1>
          <p class="header__content__paragraph" id="second">Best Priced Porcelain and Ceramic Tiles Store.
          </p>
        </div>
      </div>
    </header>
    {{{body}}}
    <footer class="footer footer--bg">
      <div class="container">
        <div class="page-section">
          <div class="row gutters-100">
            <div class="justify-content col-md-6 col-lg-3">
              <div class="footer__first">
                <h2 class="footer__title">HUE COVENANT TILES</h2>
                <p class="footer-first__paragraph">Best Priced Porcelain and Ceramic Tiles Store.
                </p>
                <ul class="footer-first__social-icons">
                  <li>
                    <a href="#">
                      <i class="flaticon-facebook-letter-logo"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="flaticon-twitter-logo"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="flaticon-dribbble-logo"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="flaticon-behance-logo"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="justify-content col-md-6 col-lg-3">
              <div class="footer__second">
                <h2 class="footer__title">QUICK LINK</h2>
                <ul>
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="/about">About Us</a>
                  </li>
                  <li>
                    <a href="/service">Service</a>
                  </li>
                  <li>
                    <a href="/contact">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="justify-content col-md-6 col-lg-3">
              <div class="footer__third">
                <h2 class="footer__title">CONTACT US</h2>
                <ul class="setter">
                  <li>
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <a href="#">France Road Beside Keda offloading point Sabon gari Kano</a>
                  </li>
                  <li>
                    <span class="glyphicon glyphicon-envelope"></span>
                    <a href="#">contact@huecovenanttiles.com</a>
                  </li>
                  <li>
                    <span class="glyphicon glyphicon-earphone"></span>
                    <a href="#">+234-8165835345</a>
                  </li>
                </ul>
                <h4 class="footer__subscribe__title">Subscribe</h4>
                <div class="subscribe-section setter">
                  {{!-- <input type="email" class="form-control" size="50" placeholder="Enter Your Email" required>  --}}
                  {{!--
                  <button class="subscribe-section__button" type="button">
                    <img src="img/send-icon.png" alt="">
                  </button> --}}

                  <div class="input-group rounded">
                    <span class="input-group-addon">
                      {{!-- <img src="img/send-icon.png" height="20px" width="20px" alt=""> --}}
                        <i class="fas fa-chevron-right    "></i>
                    </span>
                    <input type="text" name="" class="email__collect" id="" placeholder="Enter Your Email">

                  </div>
                </div>
              </div>
            </div>
            <div class="justify-content col-md-6 col-lg-3">
              <div class="footer__fourth">
                <h4 class="footer__title">INSTAGRAM</h4>
                {{!--
                <div class="row">
                  <ul>
                    <li>
                      <a href="#">
                        <img src="img/instagram-pic1.png" alt="">
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="img/instagram-pic2.png" alt="">
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="img/instagram-pic3.png" alt="">
                      </a>
                    </li>
                  </ul>
                </div> --}} {{!--
                <div class="row">
                  <ul>
                    <li>
                      <a href="#">
                        <img src="img/instagram-pic4.png" alt="">
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="img/instagram-pic5.png" alt="">
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="img/instagram-pic6.png" alt="">
                      </a>
                    </li>
                  </ul>
                </div> --}}
              </div>
            </div>
          </div>
          {{!--
          <hr class="footer__horizontal-bar"> --}}
          <p class="footer__bottom-paragraph">&copy; Copyright 2018
            <a href="//twitter.com/biodunch" style="color: #00aafe;font-weight:bold;">@biodunch</a>. All Rights Reserved</p>
        </div>
      </div>
    </footer>
  </div>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/fontawesome-all.min.js"></script>


  <script>
    $(document).ready(function () {

      var $videoSrc = $("#video").attr("src");

      $('#myModal').on('hide.bs.modal', function (e) {
        $("#video").attr('src', $videoSrc);
      });
    });
  </script>
</body>

</html>