{{!-- <section class="letsGo letsGo--bg ">
    <div class="container ">
        <div class="page-section page-section--small text-center ">
            <h2 class="page-section__title--white page-section__title--white--less-margin ">LET’S MAKE SOMETHING GREAT TOGETHER</h2>
            <p class="page-section__paragraph page-section__paragraph--less-padding ">We aim to eliminate the task of dividing your project between different agency between different agency, corporate
            </p>
            <a class="button button--hover " href="# ">LETS GO</a>
        </div>
    </div>
</section> --}}

<div class="container ">
    <section class="project ">
        <div class="page-section ">
            <div class="text-center ">
                <h2 class="page-section__title ">FEATURED PRODUCTS</h2>
                
            </div>
            <div class="row gutters-50 ">
                <div class="col-md-4 ">
                    <div class="thumbnail ">
                        <a href="img/t2.jpg " target="_blank ">
                            <img class="img-responsive " src="img/t2.jpg" alt=" ">
                            <div class="caption ">
                                <h4 class="project__title ">DESIGN</h4>
                                <p class="project__paragraph ">Lorem ipsum dolor sit amet </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="thumbnail ">
                        <a href="img/t1.jpg " target="_blank ">
                            <img class="img-responsive " src="img/t1.jpg " alt=" ">
                            <div class="caption ">
                                <h4 class="project__title ">DESIGN</h4>
                                <p class="project__paragraph ">Lorem ipsum dolor sit amet </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="thumbnail ">
                        <a href="img/t3.jpg " target="_blank ">
                            <img class="img-responsive " src="img/t3.jpg" alt=" ">
                            <div class="caption ">
                                <h4 class="project__title ">DESIGN</h4>
                                <p class="project__paragraph ">Lorem ipsum dolor sit amet </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row gutters-50 ">
                <div class="col-md-4 ">
                    <div class="thumbnail ">
                        <a href="img/t4.jpg" target="_blank ">
                            <img class="img-responsive " src="img/t4.jpg " alt=" ">
                            <div class="caption ">
                                <h4 class="project__title ">DESIGN</h4>
                                <p class="project__paragraph ">Lorem ipsum dolor sit amet </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="thumbnail ">
                        <a href="iimg/t5.jpg" target="_blank ">
                            <img class="img-responsive " src="img/t5.jpg" alt=" ">
                            <div class="caption ">
                                <h4 class="project__title ">DESIGN</h4>
                                <p class="project__paragraph ">Lorem ipsum dolor sit amet </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="thumbnail ">
                        <a href="img/t6.jpg" target="_blank ">
                            <img class="img-responsive " src="img/t6.jpg" alt=" ">
                            <div class="caption ">
                                <h4 class="project__title ">DESIGN</h4>
                                <p class="project__paragraph ">Lorem ipsum dolor sit amet </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>